{:paths ["src"]

 :deps
 {org.clojure/core.async {:mvn/version "1.5.648"}}

 :aliases
 {:dev {:extra-paths ["dev"]}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}

  :test/run
  {:main-opts ["-m" "kaocha.runner"]}

  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.6.7" :git/sha "22c2d09"}}
          :ns-default build}}}
